<div class="fm-container" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <h1> {{ title | label('fmContainer') }} </h1>
    <!--fm-list v-bind:list-items="todos"></fm-list>

    <button v-on:click="fetchItem">Greet</button>

    <br-->

    <fm-loading v-if="loading"></fm-loading>

    <fm-error v-if="!loading && error">
        <p>Error</p>
    </fm-error>

    <fm-error v-if="!loading && !error && filesList.length == 0">
        <p>Empty list</p>
    </fm-error>

    <fm-list v-if="!loading && !error && filesList.length > 0" v-bind:items="filesList">

    </fm-list>

    <input type='file' accept='image/*' v-on:change="openFile">

</div>