<div id="fm-container" class="fm-container" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <h1> {{ title | label('fmContainer') }} </h1>

    <display-loading v-if="loading">

    </display-loading>

    <display-error v-if="!loading && error">
        <p>Error</p>
    </display-error>

    <display-error v-if="!loading && !error && filesList.length == 0">
        <p>Empty list</p>
    </display-error>

    <display-list v-if="!loading && !error && filesList.length > 0" v-bind:items="filesList" v-on:delete="onDelete($event)">

    </display-list>

    <input type='file' accept='image/*' v-on:change="openFile">

</div>